<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OTTN</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="icon" type="image" th:href="@{/images/WebIcon.png}">
    <link rel="stylesheet" th:href="@{/css/class.css}">
  </head>
  <body>
    <nav class="navbar navbar-dark position-fixed bg-dark justify-content-between">
      <button id="toggle" class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="dropdown">
        <button class="btn" type="button" id="dropdown-btn">
          <img th:src="@{/images/icon-btn.png}"  width="40px" height="40px">
        </button>
        <div class="dropdown-menu bg-dark"  id="dropdown-account">
          <a class="dropdown-item text-light" th:href="@{/info(id=)}">Information</a>
          <a class="dropdown-item text-light" th:href="@{/change-pass(id=)}">Change Password</a>
          <a class="dropdown-item text-danger" th:href="@{/login}">Log out</a>
        </div>
      </div>
    </nav>
    <!--  -->
    <div class="container-fluid">
      <div class="row flex-lg-nowrap">
        <div id="sidebar" class="col bg-dark d-block">
          <a th:href="@{/student}" class="btn bg-secondary">Home</a>
          <hr class="mt-2 bg-light"/>
          <!-- js -->
          <a th:each="chapter:${chapterList}" th:href="@{class/chapter(id=*{chapter.getId()})}" class="btn btn-secondary" th:text="*{chapter.getName()}"></a>
        </div>
        <!--  -->
        <div id="workspace" class="d-flex flex-wrap justify-content-start w-100">
          <div class="class-title w-100 bg-info" th:text="${classname}"></div>
          <div class="chapters d-flex flex-wrap">
            <a th:each="chapter:${chapterList}" th:href="@{class/chapter(id=${chapter.getId()})}" class="chapter m-2 ml-5 ">
              <div class="text-light d-block p-1">
                <h3 class="w-100" th:text="${chapter.getName()}" th:title="${chapter.getName()}"></h3>
                <p th:text="${chapter.getDescription()}"></p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <script th:src="@{/js/main.js}"></script>
<!--    <script src="js/class/student.js"></script>-->
  </body>
  </html>
  